.ap-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ap-top-main-container,
.ap-bottom-main-container {
  background: #fee0e3;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

/*! ****************** { T O P of T H E  P A G E } **************************************/

.ap-top-info {
  background: #fee0e3;
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ap-top-title {
  /* background-color: blue; */
  color: rgb(126, 20, 41);
  font-size: 2.7rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 90%;
  padding-left: 1.5rem;
}

.ap-top-text {
  /* background-color: gray; */
  color: rgb(196, 48, 77);
  width: 90%;
  padding: 1.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  text-indent: 1rem;
}

/*! ****************** { B O T T O M of T H E  P A G E } **************************************/

.ap-bottom-info {
  background: #fee0e3;
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ap-bottom-title {
  /* background-color: blue; */
  color: rgb(126, 20, 41);
  font-size: 2.7rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 90%;
  padding-left: 1.5rem;
}

.ap-bottom-text {
  /* background-color: gray; */
  color: rgb(196, 48, 77);
  width: 90%;
  padding: 1.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  text-indent: 1rem;
}
