.ap-main-container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../restaurant_images/coffe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ap-top-main-container,
.ap-bottom-main-container {
  background: transparent;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  position: relative;
}

.ap-top-main-dark-container,
.ap-bottom-main-dark-container {
  background: transparent;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  position: relative;
}

/*! ****************** { T O P of T H E  P A G E } **************************************/

.ap-top-main-container {
  margin-top: 1rem;
}

.ap-top-info {
  /* background: #fee0e3; */
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ap-top-title {
  /* background-color: blue; */
  color: rgb(126, 20, 41);
  font-size: 2.7rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 90%;
  padding-left: 1.5rem;
}

.ap-top-title:is(.abt-dark) {
  color: #838383a6;
}

.ap-top-main-dark-container:hover .ap-top-title:is(.abt-dark) {
  color: whitesmoke;
}

.ap-top-text {
  /* background-color: gray; */
  color: rgb(196, 48, 77);
  width: 90%;
  padding: 1.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  text-indent: 1rem;
}

.ap-top-text:is(.abt-dark) {
  color: rgba(128, 128, 128, 0.397);
  transition: all 0.5s linear;
}

.ap-top-main-dark-container:hover .ap-top-text:is(.abt-dark) {
  color: lightgray;
}

.ap-top-img-dark-div {
  filter: brightness(35%) grayscale(50%);
  transition: all 0.5s linear;
}

.ap-top-main-dark-container:hover .ap-top-img-dark-div {
  filter: brightness(1) grayscale(0);
}

/*! ****************** { B O T T O M of T H E  P A G E } **************************************/

.ap-bottom-info {
  /* background: #fee0e3; */
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ap-bottom-title {
  /* background-color: blue; */
  color: rgb(126, 20, 41);
  font-size: 2.7rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 80%;
  padding-left: 1.5rem;
}

.ap-bottom-title:is(.abt-dark) {
  color: #838383a6;
}

.ap-bottom-main-dark-container:hover .ap-bottom-title:is(.abt-dark) {
  color: whitesmoke;
}

.ap-bottom-text {
  /* background-color: gray; */
  color: rgb(196, 48, 77);
  width: 80%;
  padding: 1.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  text-indent: 1rem;
}

.ap-bottom-text:is(.abt-dark) {
  color: rgba(128, 128, 128, 0.397);
  transition: all 0.5s linear;
}

.ap-bottom-main-dark-container:hover .ap-bottom-text:is(.abt-dark) {
  color: lightgray;
}

.ap-bottom-img-dark-div {
  filter: brightness(35%) grayscale(50%);
  transition: all 0.5s linear;
}

.ap-bottom-main-dark-container:hover .ap-bottom-img-dark-div {
  filter: brightness(1) grayscale(0);
}

.ap-divider {
  display: none;
}

/*todo ********************************************************************************/
/*todo ********************************************************************************/
/*? **********************************************************************************/
/*? **********************************************************************************/
/*! **********************************************************************************/
/*! **********************************************************************************/

/*! MEDIA SCREEN */

@media only screen and (max-width: 1800px) {
  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 85%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 85%;
  }

  .ap-top-title,
  .ap-bottom-title {
    /* background-color: blue; */
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
    width: 80%;
    padding-left: 2rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 80%;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 40rem;
  }
}

@media only screen and (max-width: 1600px) {
  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 85%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 85%;
  }

  .ap-top-title,
  .ap-bottom-title {
    /* background-color: blue; */
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
    width: 90%;
    padding-left: 2rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 90%;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 40rem;
  }
}

@media only screen and (max-width: 1366px) {
  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 90%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 90%;
  }

  .ap-top-title,
  .ap-bottom-title {
    /* background-color: blue; */
    font-size: 2rem;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
    width: 90%;
    padding-left: 2rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 90%;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 30rem;
  }
}

@media only screen and (max-width: 1280px) {
  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 90%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 90%;
  }

  .ap-top-title,
  .ap-bottom-title {
    /* background-color: blue; */
    font-size: 2rem;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    padding-left: 2rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 100%;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 35rem;
  }
}

@media only screen and (max-width: 1152px) {
  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 90%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 90%;
  }

  .ap-top-title,
  .ap-bottom-title {
    /* background-color: blue; */
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
    width: 100%;
    padding-left: 2rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 100%;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 30rem;
  }
}

@media only screen and (max-width: 992px) {
  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 95%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 95%;
  }

  .ap-top-title,
  .ap-bottom-title {
    /* background-color: blue; */
    font-size: 1.7rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
    width: 100%;
    padding-left: 2rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 100%;
    font-size: 1.1rem;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 25rem;
  }
}

@media only screen and (max-width: 800px) {
  .ap-top-text,
  .ap-bottom-text {
    width: 100%;
    font-size: 1rem;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 23rem;
  }
}

@media only screen and (max-width: 600px) {
  .ap-top-title,
  .ap-bottom-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.7rem;
  }

  .ap-top-img,
  .ap-bottom-img {
    width: 20rem;
  }
}

@media only screen and (max-width: 540px) {
  .ap-top-img-div,
  .ap-bottom-img-div {
    display: none;
  }

  .ap-top-img-dark-div,
  .ap-bottom-img-dark-div {
    display: none;
  }

  .ap-top-title,
  .ap-bottom-title {
    line-height: 3rem;
  }

  .ap-top-text,
  .ap-bottom-text {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  .ap-top-main-container,
  .ap-bottom-main-container {
    width: 100%;
  }

  .ap-top-main-dark-container,
  .ap-bottom-main-dark-container {
    width: 100%;
  }

  /* .ap-divider {
    display: flex;
    width: 90%;
    height: 1px;
    border-top: 0.5px solid #dba1a8;
    border-bottom: 0.5px solid #ecbec2;
  }

  .ap-divider:is(.abt-dark) {
    display: flex;
    width: 90%;
    height: 1px;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #333;
  } */
}
