.footer-container {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: linear-gradient(to bottom, rgb(225, 29, 72), #881337);
  background-repeat: no-repeat;
}

.footer-container:is(.ftr-dark) {
  background: linear-gradient(to bottom, rgb(44, 44, 44), #161616);
}

.footer-content-container {
  /* background-color: aqua; */
  width: 100%;
  padding-top: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

/*? CONTENT - LEFT */

.footer-content-left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.fcl-store-name {
  color: rgb(254 205 211);
  font-weight: bold;
}

.fcl-store-date {
  color: rgb(254 205 211);
}

.fcl-store-name:is(.ftr-dark),
.fcl-store-date:is(.ftr-dark) {
  color: rgb(209 213 219);
  background: transparent;
}

.fcl-city {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(209 213 219);
}

/*? CONTENT - MIDDLE */

.footer-content-middle {
  /* background-color: tomato; */
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}

.fcm-social {
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*? WHATSAPP BUTTON */

.div-whatsapp {
  height: 100%;
  /* background-color: yellow; */
  position: relative !important;
  margin-left: 1rem;
  border-radius: 50%;
}

.styles-module_whatsappButton__tVits {
  background: linear-gradient(
    to bottom,
    rgb(253, 122, 140),
    #aa0f3e
  ) !important;
  width: 2rem !important;
  height: 2rem !important;
  position: relative !important;
  top: 0;
  left: 0;
}

.div-whatsapp:is(.ftr-dark) .styles-module_whatsappButton__tVits {
  background: linear-gradient(to bottom, rgb(65, 65, 65), #2e2e2e) !important;
}

.styles-module_whatsappButton__tVits:after {
  width: 2rem !important;
  height: 2rem !important;
}

.styles-module_whatsappButton__tVits svg {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0.3rem !important;
}

.styles-module_whatsappChatBox__MdQ5U {
  right: 0.5rem !important;
}

.styles-module_chatHeader__gaeOA {
  background: linear-gradient(
    to bottom,
    rgb(248, 250, 252),
    #f86692
  ) !important;
}

.div-whatsapp:is(.ftr-dark) .styles-module_chatHeader__gaeOA {
  background: linear-gradient(to bottom, rgb(56, 56, 56), #202020) !important;
}

.styles-module_chatHeader__gaeOA .styles-module_statusTitle__NgfPQ {
  color: #881337 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatHeader__gaeOA
  .styles-module_statusTitle__NgfPQ {
  color: whitesmoke !important;
}

.styles-module_chatHeader__gaeOA .styles-module_statusSubtitle__esavW {
  color: #b41f4c !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatHeader__gaeOA
  .styles-module_statusSubtitle__esavW {
  color: lightgray !important;
}

.styles-module_chatHeader__gaeOA .styles-module_close__RLouK svg {
  fill: #d84470 !important;
  transition: all 0.5s linear !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatHeader__gaeOA
  .styles-module_close__RLouK
  svg {
  fill: gray !important;
  transition: all 0.5s linear !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatHeader__gaeOA
  .styles-module_close__RLouK
  svg:hover {
  fill: gainsboro !important;
}

.styles-module_chatHeader__gaeOA .styles-module_close__RLouK svg:hover {
  fill: #881337 !important;
}

.styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
  background: #881337 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatHeader__gaeOA
  .styles-module_avatar__afcc4:after {
  background: #000 !important;
}

.styles-module_chatBody__VBxQH .styles-module_message__Z9MOV {
  background-color: #fcdae4 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatBody__VBxQH
  .styles-module_message__Z9MOV {
  background-color: #111 !important;
}

.styles-module_chatBubble__F6k84 {
  background: linear-gradient(
    to bottom,
    rgb(248, 250, 252),
    #f86692
  ) !important;
}

.div-whatsapp:is(.ftr-dark) .styles-module_chatBubble__F6k84 {
  background: linear-gradient(to bottom, rgb(56, 56, 56), #202020) !important;
}

.styles-module_typing__Ru9xZ .styles-module_dot__RoVT7 {
  background-color: rgba(180, 31, 76, 0.7) !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_typing__Ru9xZ
  .styles-module_dot__RoVT7 {
  background-color: whitesmoke !important;
}

.styles-module_chatBody__VBxQH
  .styles-module_message__Z9MOV
  .styles-module_triangle__K9ViC {
  border-color: transparent #fcdae4 transparent transparent !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatBody__VBxQH
  .styles-module_message__Z9MOV
  .styles-module_triangle__K9ViC {
  border-color: transparent #111 transparent transparent !important;
}

.styles-module_chatBody__VBxQH .styles-module_accountName__20AXD {
  color: #881337 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatBody__VBxQH
  .styles-module_accountName__20AXD {
  color: whitesmoke !important;
}

.styles-module_chatBody__VBxQH .styles-module_messageBody__9-hwo {
  color: #b41f4c !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatBody__VBxQH
  .styles-module_messageBody__9-hwo {
  color: lightgray !important;
}

.styles-module_chatBody__VBxQH .styles-module_messageTime__MIwoR {
  color: #88133679 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatBody__VBxQH
  .styles-module_messageTime__MIwoR {
  color: gray !important;
}

.styles-module_chatBody__VBxQH {
  background-color: #ff99b7c0 !important;
}

.div-whatsapp:is(.ftr-dark) .styles-module_chatBody__VBxQH {
  background-color: #555 !important;
}

.styles-module_chatFooter__TGv0P {
  background: linear-gradient(to top, rgb(248, 250, 252), #f86692) !important;
}

.div-whatsapp:is(.ftr-dark) .styles-module_chatFooter__TGv0P {
  background: linear-gradient(to top, rgb(56, 56, 56), #202020) !important;
}

.styles-module_chatFooter__TGv0P form .styles-module_input__WFb9L {
  background-color: #fcdae4 !important;
  color: #881337 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatFooter__TGv0P
  form
  .styles-module_input__WFb9L {
  background-color: #555 !important;
  color: whitesmoke !important;
}

.styles-module_chatFooter__TGv0P form .styles-module_input__WFb9L:focus {
  border-color: rgb(136, 19, 55) !important;
  box-shadow: 0 0 0 1px rgba(136, 19, 55, 0.5) !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatFooter__TGv0P
  form
  .styles-module_input__WFb9L:focus {
  border-color: rgb(0, 0, 0) !important;
  box-shadow: 0 0 0 1px rgba(7, 7, 7, 0.5) !important;
}

.styles-module_chatFooter__TGv0P form .styles-module_input__WFb9L::placeholder {
  color: #88133679 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatFooter__TGv0P
  form
  .styles-module_input__WFb9L::placeholder {
  color: #000000a2 !important;
}

.styles-module_chatFooter__TGv0P form .styles-module_buttonSend__kXjja svg {
  fill: #881337 !important;
}

.div-whatsapp:is(.ftr-dark)
  .styles-module_chatFooter__TGv0P
  form
  .styles-module_buttonSend__kXjja
  svg {
  fill: #555 !important;
}

.styles-module_notificationIndicator__gVmjV {
  width: 12px !important;
  height: 12px !important;
  padding: 10px !important;
  min-width: 12px !important;
  right: 0 !important;
  font-size: 1rem !important;
}

/*? **********************************/
/*? **********************************/

.fcm-social-img,
.fcm-social-img-first {
  width: 2rem;
}

.fcm-social-img {
  margin-left: 1rem;
}

/*? CONTENT - RIGHT */

.footer-content-right {
  /* background-color: rgb(26, 167, 177); */
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.fcr-mail-text {
  color: rgb(254 205 211);
  font-weight: bold;
}

.fcr-mail-text:is(.ftr-dark) {
  color: rgb(209 213 219);
  background: transparent;
}

.fcr-tel {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(209 213 219);
}

/*? FOOTER - BOTTOM */

.footer-bottom {
  /* background-color: yellow; */
  width: 100%;
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;

  /* font-size: 0.875rem 14px */
  /*line-height: 1.25rem  20px; */
  color: rgba(220, 220, 220, 0.3);
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  transition: all 0.5s ease-in-out;
}

.footer-bottom:hover {
  color: rgba(220, 220, 220, 0.7);
}

/*! MEDIA SCREEN */

@media only screen and (max-width: 712px) {
  .footer-content-middle {
    flex: 0.5;
  }
}

@media only screen and (max-width: 540px) {
  .footer-container {
    height: 100%;
  }

  .footer-content-container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-content-middle {
    width: 100%;
  }

  .footer-content-middle {
    order: 3;
  }

  .footer-bottom {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .styles-module_notificationIndicator__gVmjV {
    width: 10px !important;
    height: 10px !important;
    padding: 8px !important;
    min-width: 10px !important;
    right: 0 !important;
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 414px) {
  .styles-module_chatHeader__gaeOA .styles-module_statusTitle__NgfPQ {
    font-size: 1.3rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusSubtitle__esavW {
    font-size: 1.1rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
    bottom: 0.5rem !important;
    right: 0.7rem !important;
  }

  .styles-module_notificationIndicator__gVmjV {
    width: 10px !important;
    height: 10px !important;
    padding: 8px !important;
    min-width: 10px !important;
    right: 0 !important;
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 393px) {
  .styles-module_chatHeader__gaeOA .styles-module_statusTitle__NgfPQ {
    font-size: 1.3rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusSubtitle__esavW {
    font-size: 1.1rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
    bottom: 3px !important;
    right: 0.5rem !important;
  }

  .styles-module_notificationIndicator__gVmjV {
    width: 10px !important;
    height: 10px !important;
    padding: 8px !important;
    min-width: 10px !important;
    right: 0 !important;
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .styles-module_chatHeader__gaeOA .styles-module_statusTitle__NgfPQ {
    font-size: 1.3rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusSubtitle__esavW {
    font-size: 1.1rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
    bottom: 3px !important;
    right: 0 !important;
  }

  .styles-module_notificationIndicator__gVmjV {
    width: 10px !important;
    height: 10px !important;
    padding: 7px !important;
    min-width: 10px !important;
    right: 0 !important;
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 320px) {
  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4 img {
    width: 50px !important;
    height: 50px !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
    width: 6px !important;
    height: 6px !important;
    bottom: 0.3rem !important;
    right: 0.5rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusTitle__NgfPQ {
    font-size: 1.3rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusSubtitle__esavW {
    font-size: 1.1rem !important;
  }

  .styles-module_chatBody__VBxQH .styles-module_message__Z9MOV {
    max-width: calc(100% - 50px) !important;
  }

  .styles-module_notificationIndicator__gVmjV {
    width: 10px !important;
    height: 10px !important;
    padding: 3px !important;
    min-width: 10px !important;
    right: 0 !important;
  }
}

@media only screen and (max-width: 280px) {
  .styles-module_whatsappChatBox__MdQ5U {
    height: 250px !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4 img {
    width: 30px !important;
    height: 30px !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
    width: 6px !important;
    height: 6px !important;
    bottom: 0 !important;
    right: 1em !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusTitle__NgfPQ {
    font-size: 1.3rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_statusSubtitle__esavW {
    font-size: 1.1rem !important;
  }

  .styles-module_chatHeader__gaeOA .styles-module_close__RLouK svg {
    width: 15px !important;
    height: 15px !important;
  }

  .styles-module_chatBody__VBxQH .styles-module_message__Z9MOV {
    max-width: calc(100% - -24px) !important;
  }

  .styles-module_chatBubble__F6k84 {
    padding: 7px 28px !important;
  }

  .styles-module_chatFooter__TGv0P form .styles-module_input__WFb9L {
    min-height: 30px !important;
  }

  .styles-module_chatFooter__TGv0P form .styles-module_buttonSend__kXjja svg {
    width: 30px !important;
    height: 23px !important;
  }

  .styles-module_notificationIndicator__gVmjV {
    width: 10px !important;
    height: 10px !important;
    padding: 3px !important;
    min-width: 10px !important;
    line-height: 4px !important;
    right: 0 !important;
  }
}
