.gp-main-container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gp-img-container {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.gp-img-item {
  /* background-color: yellow; */
  width: 19%;
  height: 15rem;
  overflow: hidden;
  transition: 0.7s ease-in-out;
  border: 7px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.gp-img-item:hover {
  transform: scale(1.13);
  box-shadow: rgba(4, 206, 48, 0.8) 0 0 0.5rem 0.5rem;
  z-index: 1;
  animation: random 3s ease-in-out infinite;
}

@keyframes random {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.gp-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  cursor: pointer;
}

.gp-modal-img {
  width: 100%;
  height: 40rem;
}

.modal-title {
  font-size: 1rem;
  padding: 0.5rem 0 0 0;
  text-align: center;
}

.ant-modal-content {
  padding: 15px 17px 7px 17px !important;
}

/*todo ********************************************************************************/
/*todo ********************************************************************************/
/*? **********************************************************************************/
/*? **********************************************************************************/
/*! **********************************************************************************/
/*! **********************************************************************************/

/*! MEDIA SCREEN*/

@media only screen and (max-width: 1280px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
  }

  .gp-img-item {
    width: 32%;
    height: 15rem;
  }
  .gp-modal-img {
    width: 100%;
    height: 37rem;
  }

  .ant-modal-content {
    padding: 15px 17px 7px 17px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 20px !important;
    height: 20px !important;
    top: 23px !important;
  }

  .ant-modal-close svg {
    width: 18px !important;
    height: 18px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  .gp-img-item {
    width: 32%;
    height: 15rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 40rem;
  }

  .ant-modal-content {
    padding: 15px 17px 8px 17px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 20px !important;
    height: 20px !important;
    top: 23px !important;
  }

  .ant-modal-close svg {
    width: 18px !important;
    height: 18px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 912px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  .gp-img-item {
    width: 49%;
    height: 16rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 33rem;
  }

  .ant-modal-content {
    padding: 15px 17px 7px 17px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 20px !important;
    height: 20px !important;
    top: 23px !important;
  }

  .ant-modal-close svg {
    width: 18px !important;
    height: 18px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 768px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  .gp-img-item {
    width: 49%;
    height: 14rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 30rem;
  }

  .ant-modal-content {
    padding: 15px 13px 7px 13px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 20px !important;
    height: 20px !important;
    top: 23px !important;
  }

  .ant-modal-close svg {
    width: 18px !important;
    height: 18px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 600px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  .gp-img-item {
    width: 49%;
    height: 14rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 25rem;
  }

  .ant-modal-content {
    padding: 15px 13px 7px 13px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 20px !important;
    height: 20px !important;
    top: 23px !important;
  }

  .ant-modal-close svg {
    width: 18px !important;
    height: 18px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 540px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  .gp-img-item {
    width: 49%;
    height: 13rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 25rem;
  }

  .ant-modal-content {
    padding: 15px 13px 7px 13px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 18px !important;
    height: 18px !important;
    top: 20px !important;
  }

  .ant-modal-close svg {
    width: 15px !important;
    height: 15px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 414px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  .gp-img-item {
    width: 49%;
    height: 15rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 25rem;
  }

  .ant-modal-content {
    padding: 15px 13px 7px 13px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 16px !important;
    height: 16px !important;
    top: 18px !important;
  }

  .ant-modal-close svg {
    width: 12px !important;
    height: 12px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 375px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 85%;
  }

  .gp-img-item {
    width: 100%;
    height: 20rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 20rem;
  }

  .ant-modal-content {
    padding: 15px 13px 7px 13px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 16px !important;
    height: 16px !important;
    top: 18px !important;
  }

  .ant-modal-close svg {
    width: 12px !important;
    height: 12px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 320px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 80%;
  }

  .gp-img-item {
    width: 100%;
    height: 20rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 20rem;
  }

  .ant-modal-content {
    padding: 15px 13px 7px 13px !important;
  }

  .ant-modal-title {
    font-size: 1.5rem !important;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 16px !important;
    height: 16px !important;
    top: 18px !important;
  }

  .ant-modal-close svg {
    width: 12px !important;
    height: 12px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}

@media only screen and (max-width: 280px) {
  .gp-img-container {
    margin-bottom: 1.5rem;
    width: 80%;
  }

  .gp-img-item {
    width: 100%;
    height: 20rem;
  }

  .gp-modal-img {
    width: 100%;
    height: 17rem;
  }

  .ant-modal-content {
    padding: 15px 9px 0 9px !important;
  }

  .ant-modal-title {
    font-size: 1.3rem !important;
  }

  .modal-title {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }

  .ant-modal-close {
    /* background: red !important; */
    width: 14px !important;
    height: 14px !important;
    top: 15px !important;
  }

  .ant-modal-close svg {
    width: 9px !important;
    height: 9px !important;
  }

  .gp-img-item:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    animation: backwards;
  }
}
