.gm-container {
  position: relative;
  border-radius: 1rem;
}

.gm-content {
  position: relative;
  width: 20rem;
  height: 28rem;
  background: #232323;
  border-radius: 1rem;
  overflow: hidden;
}

.gm-content:hover {
  box-shadow: rgba(4, 206, 48, 0.8) 0 0 0.5rem 0.5rem;
}

.cihat {
  box-shadow: rgba(206, 4, 65, 0.8) 0 0 0.5rem 0.5rem;
}

.gm-content::after {
  content: "Sude";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.gm-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: crimson;
  clip-path: circle(4.4rem at 100% 100%);
  transition-delay: 0.3s;
  transition: 0.5s ease-in-out;
}

.gm-content:hover:before {
  clip-path: circle(6.3rem at 100% 100%);
}

/*? GM-IMAGE */

.gm-con-img-div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 13.8rem;
  transition: 0.5s;
}

.gm-content:hover .gm-con-img-div {
  top: 0%;
  transform: translateY(0%);
}

.gm-con-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 13.8rem;
}

/*? GM-TITLE */

.gm-con-title-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.3rem;
  text-align: center;
  transition: 1s;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.gm-content:hover .gm-con-title-div {
  height: 9.4rem;
  font-size: 1.5rem;
}

.gm-con-title {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.gm-con-title-sm {
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.gm-con-price {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  color: #fff;
  user-select: none;
}

/*? GM_DANTEL (gm-content'in üst tarafı) */

.gm-dantel {
  width: 100%;
  height: 7rem;
  background-color: rgba(190, 18, 61, 0.5);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  padding: 2rem 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  user-select: none;
}

.gm-content:hover .gm-dantel {
  opacity: 0;
}
.gm-image-dantel {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.gmid-heart {
  width: 1.7rem;
  height: 1.7rem;
}

.gmid-rated {
  width: 2.2rem;
  height: 2.2rem;
}

/*todo ********************************************************************************/
/*todo ********************************************************************************/
/*? **********************************************************************************/
/*? **********************************************************************************/
/*! **********************************************************************************/
/*! **********************************************************************************/

/*! MEDIA SCREEN */

@media only screen and (max-width: 992px) {
  .gm-content {
    width: 19rem;
    height: 28rem;
  }

  .gm-content::after {
    top: 35%;
    left: -9%;
    font-size: 9.5em;
  }
}

@media only screen and (max-width: 912px) {
  .gm-content {
    width: 18rem;
    height: 28rem;
  }

  .gm-content::after {
    top: 35%;
    left: -7%;
    font-size: 9em;
  }
}

@media only screen and (max-width: 820px) {
  .gm-content {
    width: 17rem;
    height: 28rem;
  }

  .gm-content::after {
    top: 35%;
    left: -11%;
    font-size: 9em;
  }
}

@media only screen and (max-width: 800px) {
  .gm-content {
    width: 16rem;
    height: 28rem;
  }

  .gm-content::after {
    top: 35%;
    left: -9%;
    font-size: 8em;
  }
}

@media only screen and (max-width: 600px) {
  .gm-content::after {
    left: -8%;
    font-size: 10em;
  }
}

@media only screen and (max-width: 540px) {
  .gm-content {
    width: 18rem;
    height: 28rem;
  }

  .gm-content::after {
    font-size: 10em;
  }
}

@media only screen and (max-width: 480px) {
  .gm-content {
    width: 17rem;
    height: 28rem;
  }
  .gm-content::after {
    font-size: 10em;
  }
}

@media only screen and (max-width: 414px) {
  .gm-content {
    width: 19rem;
    height: 28rem;
  }

  .gm-content::after {
    top: 30%;
    left: -8%;
  }
}

@media only screen and (max-width: 393px) {
  .gm-content {
    width: 30rem;
    height: 28rem;
  }
  .gm-content::after {
    top: 20%;
    left: -8%;
    font-size: 16em;
  }

  .gm-con-img {
    height: 14rem;
  }
}
