.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* margin-bottom: 1rem; */
}

.header-nav {
  width: 100%;
  background: linear-gradient(to bottom, rgb(248, 250, 252), #ffe4e6);
  /* background-color: #333; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}
.header-nav:is(.dark) {
  background: linear-gradient(to top, rgb(56, 56, 56), #202020);
}

/*? HEADER_LOGO */

.header-logo-div {
  display: flex;
  align-items: center;
  /* justify-content: flex-start;*/
  padding-left: 2rem;
  flex: 0 40%;
  /* background-color: royalblue; */
}

.header-logo-text {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, crimson);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.header-logo-text:is(.dark) {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

/*? HEADER_MENU_LIST */

.header-list-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  position: relative;
  /* background-color: #333; */
  padding-right: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
}

.header-list-div a {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out;
}

.header-list-div:is(.dark) {
  background: transparent;
}

.header-list-div a:hover {
  background: -webkit-linear-gradient(#eee, crimson);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-list-div:is(.dark) a:hover {
  background: -webkit-linear-gradient(#eee, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-list-div a img {
  display: none;
  width: 2rem;
  height: 2rem;
}

.header-list-div a:is(.active) img {
  display: flex;
}

.header-list-div a.active p {
  display: none;
}

/*? HEADER_COLLAPSE */

.btn-toggle {
  width: 2rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid crimson; */
  border-radius: 3px;
  padding: 0.1rem;
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  background: transparent;
}

.btn-toggle:is(.dark) {
  background: transparent;
}

.btn-toggle span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0.15rem;
  background-color: rgba(220, 20, 60, 0.8);
  border-radius: 2px;
  transition: all 0.3s linear;
}

.btn-toggle:is(.dark) span {
  background-color: rgba(245, 245, 245, 0.8);
}

.btn-toggle:hover {
  background-color: rgba(102, 102, 102, 0.2);
}

.btn-toggle.active-toggle span:nth-child(1) {
  display: none;
}

.btn-toggle.active-toggle span:nth-child(2) {
  transform: translate(-0.08rem, 0.35rem) rotate(-45deg);
}

.btn-toggle.active-toggle span:nth-child(3) {
  transform: translate(-0.05rem, -0.35rem) rotate(45deg);
}

.btn-toggle.active-toggle + .header-list-div {
  display: flex;
  animation: slider-menu 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes slider-menu {
  0% {
    top: -20rem;
  }
  10% {
    top: -17rem;
  }
  20% {
    top: -14rem;
  }
  30% {
    top: -11rem;
  }
  40% {
    top: -9rem;
  }
  50% {
    top: -6rem;
  }
  60% {
    top: -3rem;
  }
  70% {
    top: 0;
  }
  80% {
    top: 2rem;
  }
  90% {
    top: 4rem;
  }
  100% {
    top: 5rem;
  }
}

/*? INDICATOR */

.indicator {
  position: absolute;
  top: 0.08rem;
  left: -8.5rem;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
  transition: 0.7s !important;
  border-radius: 50%;
}

.header-nav .indicator {
  border: 2px solid rgba(196, 77, 107, 0.2);
  box-shadow: rgba(196, 77, 107, 0.24) 0px 3px 8px;
  border-radius: 2rem;
}

.header-nav:is(.dark) .indicator {
  border: 2px solid rgba(240, 225, 229, 0.2);
  box-shadow: rgba(163, 162, 162, 0.24) 0px 3px 8px;
  border-radius: 2rem;
}

/*? INDICATOR STEPS */

.header-nav a:nth-child(1):is(.active) ~ .indicator {
  transform: translateX(7.9rem);
}

.header-nav a:nth-child(2):is(.active) ~ .indicator {
  transform: translateX(15.6rem);
}

.header-nav a:nth-child(3):is(.active) ~ .indicator {
  transform: translateX(20.8rem);
}

.header-nav a:nth-child(4):is(.active) ~ .indicator {
  transform: translateX(26.4rem);
}

.header-nav a:nth-child(5):is(.active) ~ .indicator {
  transform: translateX(32.8rem);
}

/*! CEILING LAMP */

.ceiling-lamp-container {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}

.ceiling-lamp {
  width: 100%;
  height: 100%;
}

/*! MEDIA SCREEN */

@media only screen and (min-width: 1501px) and (max-width: 1800px) {
  .header-list-div {
    top: 0 !important;
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 47%;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1500px) {
  .header-list-div {
    top: 0 !important;
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 45%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .header-list-div {
    top: 0 !important;
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 43.5%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .header-list-div {
    top: 0 !important;
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 41.7%;
  }
}

/* flex-direction -> column | menu-list-display-none */
@media only screen and (max-width: 992px) {
  .btn-toggle {
    display: flex;
  }

  .header-logo-div {
    flex: 0 80%;
    padding-left: 0;
  }

  .header-list-div {
    background: linear-gradient(to bottom, rgb(248, 250, 252), #fff1f2);
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    display: none;
    position: absolute;
    top: -21rem;
    left: 0;
    padding: 2rem 1rem 1rem 1rem;
    z-index: -1;
  }

  .header-list-div:is(.dark) {
    background: linear-gradient(to bottom, rgb(56, 56, 56), #202020);
  }

  .header-nav:is(.dark) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.7);
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 65%;
  }

  /****************** INDICATOR *************************/

  .indicator {
    top: 1.5rem;
    left: 0.28rem;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.7rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.9rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.53rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.14rem, 15.58rem);
  }
}

@media only screen and (max-width: 820px) {
  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 65%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.7rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.5rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.135rem, 15.49rem);
  }
}

@media only screen and (max-width: 768px) {
  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 67%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.7rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.5rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.135rem, 15.49rem);
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    top: -0.5rem;
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 70%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.9rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.7rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.135rem, 15.7rem);
  }
}

@media only screen and (max-width: 540px) {
  .header-container {
    top: -0.5rem;
  }

  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 73%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.9rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.7rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.135rem, 15.7rem);
  }
}

@media only screen and (max-width: 480px) {
  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 73%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.8rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.5rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.135rem, 15.6rem);
  }
}

@media only screen and (max-width: 414px) {
  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 73%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 8rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.8rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.12rem, 15.6rem);
  }
}

@media only screen and (max-width: 360px) {
  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 75%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 8rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.8rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.12rem, 15.6rem);
  }
}

@media only screen and (max-width: 320px) {
  .ceiling-lamp-container {
    width: 4.5rem;
    height: 4.5rem;
    left: 75%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.9rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.7rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.12rem, 15.8rem);
  }
}

@media only screen and (max-width: 280px) {
  .btn-toggle.active-toggle span:nth-child(2) {
    transform: translate(-0.1rem, 0.4rem) rotate(-45deg); /* sağa yatık ok */
  }

  .btn-toggle.active-toggle span:nth-child(3) {
    transform: translate(-0.1rem, -0.4rem) rotate(45deg); /* sola yatık ok */
  }

  .ceiling-lamp-container {
    width: 4rem;
    height: 4rem;
    left: 75%;
  }

  /****************** INDICATOR STEPS ************************/

  .header-nav a:nth-child(1):is(.active) ~ .indicator {
    transform: translate(0.1rem);
  }

  .header-nav a:nth-child(2):is(.active) ~ .indicator {
    transform: translate(0, 3.9rem);
  }

  .header-nav a:nth-child(3):is(.active) ~ .indicator {
    transform: translate(0.1rem, 7.9rem);
  }

  .header-nav a:nth-child(4):is(.active) ~ .indicator {
    transform: translate(0.2rem, 11.7rem);
  }

  .header-nav a:nth-child(5):is(.active) ~ .indicator {
    transform: translate(0.12rem, 15.8rem);
  }
}
