.hp-container {
  /* background-color: blue; */
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hp-carousel {
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
  position: relative;
}

.hp-content-img {
  width: 100%;
  height: 25rem;
  background: url("../../../public/assets/images/yuvalama.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
}

.hp-content-img-2 {
  width: 100%;
  height: 25rem;
  background: url("../../../public/assets/images/kofte1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
}

/*! MEDIA SCREEN */

@media only screen and (max-width: 280px) {
  .hp-container {
    width: 100%;
  }
}
