.lm-item {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.lm-deprecated {
  border: none !important;
  box-shadow: none !important;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.lm-item:is(.lm-deprecated)::before {
  content: "Kış aylarında servis edilir.";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  background: rgba(118, 138, 158, 0.75);
  color: white;
  clip-path: none;
  font-size: 3rem;
  z-index: 99998;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: line-through;
  font-size: 2rem;
}

.lm-item:is(.lm-deprecated):is(.lm-dark)::before {
  color: rgba(255, 255, 255, 0.5);
}

.lm-item:hover {
  box-shadow: rgba(4, 206, 48, 0.8) 0 0 0.5rem 0.5rem;
}

.turgut {
  box-shadow: rgba(206, 4, 65, 0.8) 0 0 0.5rem 0.5rem;
}

.turgut .inner-lm-price {
  transform: translateX(-3rem);
  font-size: 1.5rem;
  background: transparent !important;
}

.lm-item:is(:nth-child(odd)):is(.turgut) .inner-lm-price {
  background: #232323;
  margin-right: 1rem;
}

.lm-item:is(:nth-child(even)):is(.turgut) .inner-lm-price {
  background: rgb(141, 27, 56);
  margin-right: 1rem;
}

.lm-item:nth-of-type(odd) {
  background: #232323;
  transition: 0.5s ease-in-out;
}

.lm-item:nth-of-type(odd):is(.lm-dark) {
  background: #99999960;
  transition: 0.5s ease-in-out;
}

.lm-item:nth-of-type(odd):hover {
  background: #232323;
}

.lm-item:nth-of-type(odd):is(.lm-dark):hover {
  background: #99999963;
}

.lm-item:nth-of-type(even) {
  background: #8d1b38;
  transition: 0.5s ease-in-out;
}

.lm-item:nth-of-type(even):is(.lm-dark) {
  background: #99999925;
  transition: 0.5s ease-in-out;
}

.lm-item:nth-of-type(even):hover {
  background: #8d1b38;
}

.lm-item:nth-of-type(even):is(.lm-dark):hover {
  background: #99999911;
}

.lm-item:hover .inner-lm-price {
  transform: translateX(-3rem);
  font-size: 1.5rem;
}

.lm-item:nth-child(n + 1):hover .inner-lm-price {
  background: #8d1b38;
  /* background-color: blue; */
  margin-right: 1rem;
}

.lm-item:nth-child(n + 1):hover .inner-lm-price:is(.lm-dark) {
  background: transparent;
  /* background-color: blue; */
  margin-right: 1rem;
}

.lm-item:nth-child(2n + 1):hover .inner-lm-price {
  background: #232323;
  margin-right: 1rem;
}

.lm-img {
  width: 6.9rem;
  height: 5rem;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.inner-lm-container {
  flex: 1;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  /* background-color: rgb(240, 183, 183); */
  margin-left: 1rem;
}

.inner-lm-price {
  width: 5rem;
  height: 5rem;
  background-color: #fee0e3;
  color: #fdfdfd;
  font-weight: bolder;
  position: relative;
  right: -3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: 0.7s ease-in-out;
  transform: rotate(45deg);
  z-index: 991;
  user-select: none;
}

.lm-item:is(.lm-deprecated) .inner-lm-price {
  z-index: 99999;
}

.inner-lm-price:is(.lm-dark) {
  background-color: #222;
}

.lm-item:is(.lm-deprecated) .inner-lm-price:is(.lm-dark) {
  z-index: 99999;
}

#inner-lm-title {
  font-size: 1.3rem;
  color: whitesmoke;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  user-select: none;
  /* background-color: blue; */
}

#inner-lm-desc {
  font-size: 0.9rem;
  user-select: none;
  color: rgb(196, 196, 196);
}

.lm-image-dantel {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.lmid-heart {
  width: 1.5rem;
  height: 1.5rem;
}

.lmid-rated {
  width: 1.7rem;
  height: 1.7rem;
}

/*todo ********************************************************************************/
/*todo ********************************************************************************/
/*? **********************************************************************************/
/*? **********************************************************************************/
/*! **********************************************************************************/
/*! **********************************************************************************/

/*! MEDIA SCREEN */

@media only screen and (max-width: 414px) {
  .lm-item:hover {
    box-shadow: rgba(4, 206, 48, 0.8) 0 0 0.5rem 0.5rem;
  }

  .lm-item:hover .inner-lm-price {
    font-size: 1.5rem;
  }

  #inner-lm-title {
    font-size: 1.3rem;
  }

  #inner-lm-desc {
    font-size: 1rem;
  }

  .lmid-heart {
    width: 1.3rem;
    height: 1.3rem;
  }

  .lmid-rated {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 353px) {
  .lm-item:hover {
    box-shadow: rgba(4, 206, 48, 0.8) 0 0 0.3rem 0.3rem;
  }

  .lm-item:hover .inner-lm-price {
    font-size: 1.5rem;
  }

  #inner-lm-title {
    font-size: 1.2rem;
  }

  #inner-lm-desc {
    font-size: 0.9rem;
  }

  .lmid-heart {
    width: 1.3rem;
    height: 1.3rem;
  }

  .lmid-rated {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 320px) {
  .lm-item:hover {
    box-shadow: rgba(4, 206, 48, 0.8) 0 0 0.3rem 0.3rem;
  }

  .lm-item:hover .inner-lm-price {
    font-size: 1.3rem;
  }

  #inner-lm-title {
    font-size: 1rem;
  }

  #inner-lm-desc {
    font-size: 0.8rem;
  }

  .lmid-heart {
    width: 1.3rem;
    height: 1.3rem;
  }

  .lmid-rated {
    width: 1.7rem;
    height: 1.7rem;
  }
}
