.hp-chef-div {
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 7rem;
  right: 0 !important;
  cursor: pointer;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 998;
  opacity: 1 !important;
}

.hp-chef {
  width: 5rem !important;
  height: 5rem !important;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.hp-chef:hover {
  opacity: 1;
}

/*! MEDIA SCREEN */

@media only screen and (min-width: 992px) {
  .hp-chef-div {
    right: 4.5rem;
  }
}
