.hp-chef-div {
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem !important;
  cursor: pointer;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 998;
  opacity: 1 !important;
}

.hp-chef {
  width: 5rem !important;
  height: 5rem !important;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.hp-chef:hover {
  opacity: 1;
}

.hp-chef:hover + .tooltip-container:is(.atBottom) {
  opacity: 1 !important;
}
