.menu-card-container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto 5rem auto;
}

.menu-card-content-container {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-card-img-container {
  /* background-color: navy; */
  overflow: hidden;
  position: relative;
  border-radius: 0.7rem;
}

.menu-card-img {
  width: 100%;
  height: 25rem;
  border-radius: 0.7rem;
  transition: all 0.5s linear;
  cursor: pointer;
}

.menu-card-img-container:hover + .menu-card-dantel {
  opacity: 0.3;
}

.menu-card-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* background-color: red; */
}

.menu-title {
  color: crimson;
  font-size: 1.7rem;
}

.menu-desc {
  color: crimson;
  font-size: 1.1rem;
  letter-spacing: 3px;
  font-family: "Pacifico", cursive;
}

.menu-title:is(.dark) {
  color: black;
  background: transparent;
}

.menu-desc:is(.dark) {
  color: #333;
  background: transparent;
}

.menu-card-dantel {
  width: 100%;
  height: 3rem;
  background-color: rgba(190, 18, 61, 0.8);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
  padding: 2rem 1.2rem;
  font-size: 1.3rem;
}

.menu-card-dantel span:nth-child(2) > img {
  width: 2rem;
  height: 2rem;
}

.menu-card-footer-dantel {
  width: 100%;
  height: 5rem;
  background-color: rgba(190, 18, 61, 0.8);
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  position: absolute;
  bottom: -10rem;
  left: 0;
  z-index: 1;
  color: whitesmoke;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.menu-card-dantel:is(.dark) {
  background: #999999c5 !important;
  color: black !important;
}

.menu-card-footer-dantel:is(.dark) {
  background: #999999c5 !important;
  color: black !important;
}

.menu-card-img:hover ~ .menu-card-footer-dantel {
  display: flex;
  animation: footer-dantel 1s linear;
  animation-fill-mode: forwards;
}

@keyframes footer-dantel {
  0% {
    bottom: -9rem;
  }
  25% {
    bottom: -6rem;
  }
  75% {
    bottom: -3rem;
  }
  100% {
    bottom: 0;
  }
}

/*! MEDIA SCREEN */

@media only screen and (min-width: 1600px) {
  .menu-card-img {
    height: 40rem !important;
  }

  .menu-title {
    font-size: 3rem;
  }

  .menu-desc {
    font-size: 2rem;
    letter-spacing: 1.5px;
  }

  .menu-card-title {
    margin-top: 7rem;
    margin-bottom: 7rem;
    gap: 3.5rem;
  }
}

@media only screen and (max-width: 1600px) {
  .menu-card-img {
    height: 30rem !important;
  }

  .menu-title {
    font-size: 2.5rem;
  }

  .menu-desc {
    font-size: 1.7rem;
    letter-spacing: 1.3px;
  }

  .menu-card-title {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 1366px) {
  .menu-card-img {
    height: 25rem !important;
  }

  .menu-title {
    font-size: 2.3rem;
  }

  .menu-desc {
    font-size: 1.5rem;
    letter-spacing: 1.3px;
  }

  .menu-card-title {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}

@media only screen and (max-width: 1280px) {
  .menu-card-img {
    height: 25rem !important;
  }

  .menu-title {
    font-size: 2.3rem;
  }

  .menu-desc {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
  }

  .menu-card-title {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-card-img {
    height: 20rem !important;
  }

  .menu-title {
    font-size: 2.3rem;
  }

  .menu-desc {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
  }

  .menu-card-title {
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
  }
}

@media only screen and (max-width: 992px) {
  .menu-card-img {
    height: 33rem !important;
  }

  .menu-title {
    font-size: 2.3rem;
  }

  .menu-desc {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
  }

  .menu-card-title {
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
  }
}

@media only screen and (max-width: 820px) {
  .menu-card-img {
    height: 30rem !important;
  }

  .menu-title {
    font-size: 2rem;
  }

  .menu-desc {
    font-size: 1.3rem;
    letter-spacing: 1.1px;
  }

  .menu-card-title {
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .menu-card-img {
    height: 25rem !important;
  }

  .menu-title {
    font-size: 1.5rem;
  }

  .menu-desc {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .menu-card-title {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .menu-card-img {
    height: 23rem !important;
  }

  .menu-title {
    font-size: 1.5rem;
  }

  .menu-desc {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .menu-card-title {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .menu-card-container {
    width: 85%;
  }

  .menu-card-img {
    height: 23rem !important;
  }

  .menu-title {
    font-size: 1.5rem;
  }

  .menu-desc {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .menu-card-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .menu-card-container {
    width: 85%;
  }

  .menu-card-img {
    height: 20rem !important;
  }

  .menu-title {
    font-size: 1.5rem;
  }

  .menu-desc {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .menu-card-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
