@import url("./galery-menu.css");
@import url("./list-menu.css");

.menu-container {
  /* background-color: #333; */
  height: 100%;
}

.menu-type {
  background: linear-gradient(to bottom, #8b223c, #8f1634);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  gap: 1rem;
  width: 100%;
  position: sticky;
  top: 88px;
  user-select: none;
  z-index: 992;
}

.menu-type-title {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: x-large;
  color: whitesmoke;
}

.menu-type img {
  width: 2.3rem;
  height: 2.3rem;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.menu-type img:hover {
  opacity: 1;
}

.galery-menu {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 0.5rem;
  padding: 1rem;
}

.galery-menu-images {
  width: 300px;
  height: 200px;
}

.sm-heart,
.sm-rated {
  width: 24px !important;
  height: 24px !important;
  opacity: 1 !important;
}

/*! LIST MENU ***************/

.lm-container {
  background: #fee0e3;
  /* background: #333; */
  width: 70%;
  margin: 0.5rem auto;
  padding: 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow: hidden;
}
