@import url("./galery-menu.css");
@import url("./list-menu.css");

.menu-container {
  height: 100%;
  min-height: 100vh;
}

.menu-type {
  background: linear-gradient(to bottom, #8b223c, #8f1634);
  /* background: #333; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 5.5rem;
  user-select: none;
  z-index: 992;
}

.menu-type-title {
  /* background-color: blue; */
  height: 3rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.menu-search-container {
  /* background-color: green; */
  flex: 0.9;
  position: relative;
}

.menu-search {
  background: linear-gradient(to bottom, #8b223c, #8f1634);
  border: 1px solid black;
  border-radius: 3rem;
  box-shadow: inset black 0 0 7px;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
}

.menu-search:focus {
  outline: none;
}

.menu-search::placeholder {
  color: #460c1a;
}

.menu-search-close,
.menu-search-magnifying {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.menu-search-close {
  right: 1rem;
}

.menu-search-magnifying {
  left: 1rem;
  cursor: default !important;
}

.menu-type-img {
  /* background-color: black; */
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}

.menu-type img {
  width: 2.3rem;
  height: 2.3rem;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  /* background-color: aqua; */
}

.menu-type img:hover {
  opacity: 1;
}

.galery-menu {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 0.5rem;
  padding: 0.5rem;
}

/*! LIST MENU ***************/

.lm-container {
  /* background: #fee0e3; */
  /* background: #333; */
  width: 60%;
  margin: 0.5rem auto;
  padding: 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

/*todo ********************************************************************************/
/*todo ********************************************************************************/
/*? **********************************************************************************/
/*? **********************************************************************************/
/*! **********************************************************************************/
/*! **********************************************************************************/

/*! MEDIA SCREEN */
@media only screen and (max-width: 1280px) {
  .menu-search-close {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .menu-search-container {
    width: 85%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 85%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 912px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.3rem;
  }

  .menu-type img {
    width: 2rem;
    height: 2rem;
  }

  .menu-search-close {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .menu-search-container {
    width: 85%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 85%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.3rem;
  }

  .menu-type img {
    width: 2rem;
    height: 2rem;
  }

  .menu-search-close {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .menu-search-container {
    width: 85%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 85%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 712px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.3rem;
  }

  .menu-type img {
    width: 2rem;
    height: 2rem;
  }

  .menu-search-close {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.1rem;
  }

  .menu-type img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.1rem;
  }

  .menu-type img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.2rem;
  }

  .menu-type img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 393px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.2rem;
  }

  .menu-type img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 384px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.1rem;
  }

  .menu-type img {
    width: 1.7rem;
    height: 1.7rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .menu-type {
    top: 4.9rem;
  }

  .menu-type-title {
    font-size: 1.1rem;
  }

  .menu-type img {
    width: 1.7rem;
    height: 1.7rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.7rem;
  }
}

@media only screen and (max-width: 360px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1.1rem;
  }

  .menu-type img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 100%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.7rem;
  }
}

@media only screen and (max-width: 353px) {
  .menu-type {
    top: 5rem;
  }

  .menu-type-title {
    font-size: 1rem;
  }

  .menu-type img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 100%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.7rem;
  }
}

@media only screen and (max-width: 320px) {
  .menu-type {
    top: 4.9rem;
  }

  .menu-type-title {
    font-size: 1rem;
  }

  .menu-type img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu-search-close {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .menu-search-container {
    width: 95%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lm-container {
    width: 100%;
    padding: 1rem 1rem;
  }

  .lm-container:is(.m-responsive) {
    margin-top: 3.3rem;
  }

  .galery-menu:is(.m-responsive) {
    margin-top: 3.7rem;
  }
}
